*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: aquamarine;
}
.container{
    width: 700px;
    height:auto;
    background-color: azure;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}
.box{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 35px;
    margin: 15px;
}
.name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.name input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: aquamarine;
    border-radius: 48px;
}
.name input.placeholder{
    color: #bbb;
    font-weight: 500;
}
.button{
    width: 50%;
    cursor: pointer;
    margin-bottom: 20px;
}
.button button{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #806bcd;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}



@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    0%{
        transform: scale(1);
    }
}