<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link type="stylesheet" src="/home/dell/Yummy/src/app/home/home.component.css">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Online Store</h1>      
    <h2>Discover restaurants that deliver near you</h2>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:4200/">Home</a></li>
      
        <li class="active"><a href="http://localhost:4200/user-registration">Login</a></li>
      </ul>
      
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Chicken Dum Biryani</div>
        <div class="panel-body"><img src="https://media.istockphoto.com/id/1169141170/photo/chicken-biryani-directly-above-photo.jpg?s=2048x2048&w=is&k=20&c=7BYbjG4-Oz2cFMxi93fInKVL6vNMxkthPwBm1-His60=" class="img-responsive" style="width:100%" alt=""></div>
        <div class="panel-footer">Price:130</div>
        <button><a href="http://localhost:4200/order"><div class="panel-footer">Pay</div></a></button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Chicken Fried Rice</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1603133872878-684f208fb84b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:100</div>
        <button><a href="http://localhost:4200/order"><div class="panel-footer">Pay</div></a></button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Mutton Biryani</div>
        <div class="panel-body"><img src="https://media.istockphoto.com/id/1140314173/photo/mutton-biryani.jpg?s=2048x2048&w=is&k=20&c=R_x_VN62V2hHYYrhhcr-1FQ3giOm84dp1DxF598qx8w=" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:100</div>
        <button><a href="http://localhost:4200/order"><div class="panel-footer">Pay</div></a></button>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Chicken 65</div>
        <div class="panel-body"><img src="https://media.istockphoto.com/id/1322439549/photo/indian-chicken-fry.jpg?b=1&s=170667a&w=0&k=20&c=Dp1OZ_oeMicBTh8Fk_cnxYslD6GBja3L-lKXoPNA7gM=" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:150</div>
        <button><a href="http://localhost:4200/order"><div class="panel-footer">Pay</div></a></button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Egg Noodles</div>
        <div class="panel-body"><img src="https://media.istockphoto.com/id/1371990202/photo/food-concept-asian-egg-noodles-stir-fry-in-ceramic-bowl-on-wooden-board-with-copy-space.jpg?b=1&s=170667a&w=0&k=20&c=uwGdXwInSLHpHkgMgPTxPWUHDiv8p_JrtTCtgpGm3xU=" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:110</div>
        <button><a href="http://localhost:4200/order"><div class="panel-footer">Pay</div></a></button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Prawns Biryani</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1552590635-27c2c2128abf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJhd25zJTIwYmlyeWFuaXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:130</div>
        <button><a href="http://localhost:4200/order"><div class="panel-footer">Pay</div></a></button>
      </div>
    </div>
  </div>
</div><br><br>

<!-- <footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer> -->

</body>
</html>
